@media all and (max-width: 375px){
    .viewport-main{
        width: 84%;
        background: #e6928870;
    }

    /* about section */
    .abl-bottom{
        flex-direction: column;
    }

    /* skill section */
    .skill-bottom{
        flex-direction: column;
    }
    .skill-bottom .section{
        margin-bottom: 20px;
    }

    /* portfolio section */
    .portfolio-bottom .projects::before{
        height: 98%;
    }

    /* blog section */
    .blog-section-bottom .blog-section-bottom-left span{
        font-size: 11px;
        font-weight: bold;
    }
    .blog-btn{
        margin-top: 50px;
    }
}